<li class="nav-item welcome" style="padding-left: 20px; padding-right: 20px;">
  <i class="fa fa-user-circle" aria-hidden="true"></i>
  欢迎你，张三丰</li>
<li class="nav-item">
  <a class="T-NAV T-NAV-00 nav-link navleft">
    <i class="fa fa-home"></i>
    主页</a>
</li>
<li class="nav-item">
  <a j-page-href="window/pages/equipment.html" j-page-box="#main_box" class="T-NAV T-NAV-01 nav-link JURL">
    <i class="fa fa-sliders" aria-hidden="true"></i>
    设备管理</a>
</li>
<li class="nav-item">
  <a j-page-href="window/pages/course.html" j-page-box="#main_box" class="T-NAV T-NAV-02 nav-link JURL">
    <i class="fa fa-calendar" aria-hidden="true"></i>
    课程管理</a>
</li>
<li class="nav-item">
  <a j-page-href="window/pages/strategy.html" j-page-box="#main_box" class="T-NAV T-NAV-03 nav-link JURL">
    <i class="fa fa-paper-plane" aria-hidden="true"></i>
    策略管理</a>
</li>
<li class="nav-item">
  <a j-page-href="window/pages/operate.html" j-page-box="#main_box" class="T-NAV T-NAV-04 nav-link JURL">
    <i class="fa fa-briefcase" aria-hidden="true"></i>
    运维管理</a>
</li>
<li class="nav-item">
  <a j-page-href="window/pages/data.html" j-page-box="#main_box" class="T-NAV T-NAV-05 nav-link JURL">
    <i class="fa fa-database" aria-hidden="true"></i>
    基础数据</a>
</li>
<li class="nav-item">
  <a j-page-href="window/pages/settings.html" j-page-box="#main_box" class="T-NAV T-NAV-06 nav-link JURL">
    <i class="fa fa-cog" aria-hidden="true"></i>
    系统设置</a>
</li>
<li class="nav-item">
  <a j-page-href="window/pages/log.html" j-page-box="#main_box" class="T-NAV T-NAV-07 nav-link JURL">
    <i class="fa fa-book" aria-hidden="true"></i>
    日志管理</a>
</li>

<li class="nav-item dropdown float-right">
  <a data-toggle="dropdown" class="nav-link  dropdown-toggle">CH</a>
  <div class="dropdown-menu dropdown-menu-md-left">
    <a class="dropdown-item small">
      <i class="fa fa-angle-right" aria-hidden="true"></i>
      Chinese(简体中文)</a>
    <a class="dropdown-item small">
      <i class="fa fa-angle-right" aria-hidden="true"></i>
      English</a>
  </div>
</li>
<li class="nav-item float-right">
  <a class="nav-link">
    <i class="fa fa-dashboard" aria-hidden="true"></i>
  </a>
</li>
<li class="nav-item float-right" style="margin-left: 30px;">
  <a class="nav-link">
    <i class="fa fa-power-off red" aria-hidden="true"></i>
  </a>
</li>