<div class="logo"><img class="logo rounded-circle clearfix" src="images/logo.jpg" alt=""></div>
<h3 class="text-center clearfix">北京大学</h3>
<p class="text-center font-weight-light" style="margin-bottom: 0;">BEIJING UNIVERSITY</p>
<p class="text-center font-weight-light">智慧教室综合管理系统</p>
<div class="component" id="menu-left">
  <div class="card">
    <div class="card-header" data-toggle="collapse" data-target="#iips"><i class="fa fa-folder-open" aria-hidden="true"></i> IIPS</div>
    <div class="collapse no-gutters show" id="iips" data-parent="#menu-left">
      <div class="card-body no-gutter">
        <div class="btn-group-vertical col-12 no-gutter">
          <div class="btn-group no-gutters">
            <div class="menu-item btn-block text-left small" data-toggle="dropdown"><i class="fa grade fa-th" aria-hidden="true"></i> Grade 01</div>
            <ul class="dropdown-menu small" style="margin-left:99%; margin-top: -40px;">
              <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li>
              <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li>
              <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li>
              <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li>
              <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li>
            </ul>
          </div>
          <div class="btn-group no-gutters">
            <div class="menu-item btn-block text-left small" data-toggle="dropdown"><i class="fa grade fa-th" aria-hidden="true"></i> Grade 01</div>
            <ul class="dropdown-menu small" style="margin-left: 99%; margin-top: -40px;">
              <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li>
              <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li>
              <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li>
              <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li>
              <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li>
            </ul>
          </div>
          <div class="btn-group no-gutters">
            <div class="menu-item btn-block text-left small" data-toggle="dropdown"><i class="fa grade fa-th" aria-hidden="true"></i> Grade 01</div>
            <ul class="dropdown-menu small" style="margin-left: 99%; margin-top: -40px;">
              <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li>
              <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li>
              <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li>
              <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li>
              <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li>
            </ul>
          </div>
          <div class="btn-group no-gutters">
            <div class="menu-item btn-block text-left small" data-toggle="dropdown"><i class="fa grade fa-th" aria-hidden="true"></i> Grade 01</div>
            <ul class="dropdown-menu small" style="margin-left: 99%; margin-top: -40px;">
              <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li>
              <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li>
              <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li>
              <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li>
              <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" data-toggle="collapse" data-target="#iit"><i class="fa fa-folder-open" aria-hidden="true"></i> IIT</div>
    <div class="collapse no-gutters" id="iit" data-parent="#menu-left">
      <div class="card-body no-gutter">
        <div class="btn-group-vertical col-12 no-gutter">
          <div class="btn-group no-gutters">
            <div class="menu-item btn-block text-left small" data-toggle="dropdown"><i class="fa grade fa-th" aria-hidden="true"></i> Grade 01</div>
            <ul class="dropdown-menu small" style="margin-left:99%; margin-top: -40px;">
              <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li>
              <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li>
              <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li>
              <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li>
              <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li>
            </ul>
          </div>
          <div class="btn-group no-gutters">
            <div class="menu-item btn-block text-left small" data-toggle="dropdown"><i class="fa grade fa-th" aria-hidden="true"></i> Grade 01</div>
            <ul class="dropdown-menu small" style="margin-left: 99%; margin-top: -40px;">
              <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li>
              <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li>
              <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li>
              <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li>
              <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li>
            </ul>
          </div>
          <div class="btn-group no-gutters">
            <div class="menu-item btn-block text-left small" data-toggle="dropdown"><i class="fa grade fa-th" aria-hidden="true"></i> Grade 01</div>
            <ul class="dropdown-menu small" style="margin-left: 99%; margin-top: -40px;">
              <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li>
              <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li>
              <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li>
              <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li>
              <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li>
            </ul>
          </div>
          <div class="btn-group no-gutters">
            <div class="menu-item btn-block text-left small" data-toggle="dropdown"><i class="fa grade fa-th" aria-hidden="true"></i> Grade 01</div>
            <ul class="dropdown-menu small" style="margin-left: 99%; margin-top: -40px;">
              <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li>
              <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li>
              <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li>
              <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li>
              <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" data-toggle="collapse" data-target="#scs"><i class="fa fa-folder-open" aria-hidden="true"></i> SCS</div>
    <div class="collapse no-gutters" id="scs" data-parent="#menu-left">
      <div class="card-body no-gutter">
        <div class="btn-group-vertical col-12 no-gutter">
          <div class="btn-group no-gutters">
            <div class="menu-item btn-block text-left small" data-toggle="dropdown"><i class="fa grade fa-th" aria-hidden="true"></i> Grade 01</div>
            <ul class="dropdown-menu small" style="margin-left:99%; margin-top: -40px;">
              <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li>
              <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li>
              <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li>
              <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li>
              <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li>
            </ul>
          </div>
          <div class="btn-group no-gutters">
            <div class="menu-item btn-block text-left small" data-toggle="dropdown"><i class="fa grade fa-th" aria-hidden="true"></i> Grade 01</div>
            <ul class="dropdown-menu small" style="margin-left: 99%; margin-top: -40px;">
              <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li>
              <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li>
              <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li>
              <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li>
              <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li>
            </ul>
          </div>
          <div class="btn-group no-gutters">
            <div class="menu-item btn-block text-left small" data-toggle="dropdown"><i class="fa grade fa-th" aria-hidden="true"></i> Grade 01</div>
            <ul class="dropdown-menu small" style="margin-left: 99%; margin-top: -40px;">
              <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li>
              <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li>
              <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li>
              <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li>
              <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li>
            </ul>
          </div>
          <div class="btn-group no-gutters">
            <div class="menu-item btn-block text-left small" data-toggle="dropdown"><i class="fa grade fa-th" aria-hidden="true"></i> Grade 01</div>
            <ul class="dropdown-menu small" style="margin-left: 99%; margin-top: -40px;">
              <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li>
              <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li>
              <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li>
              <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li>
              <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" data-toggle="collapse" data-target="#soc"><i class="fa fa-folder-open" aria-hidden="true"></i> SOC</div>
    <div class="collapse no-gutters" id="soc" data-parent="#menu-left">
      <div class="card-body no-gutter">
        <div class="btn-group-vertical col-12 no-gutter">
          <div class="btn-group no-gutters">
            <div class="menu-item btn-block text-left small" data-toggle="dropdown"><i class="fa grade fa-th" aria-hidden="true"></i> Grade 01</div>
            <ul class="dropdown-menu small" style="margin-left:99%; margin-top: -40px;">
              <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li>
              <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li>
              <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li>
              <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li>
              <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li>
            </ul>
          </div>
          <div class="btn-group no-gutters">
            <div class="menu-item btn-block text-left small" data-toggle="dropdown"><i class="fa grade fa-th" aria-hidden="true"></i> Grade 01</div>
            <ul class="dropdown-menu small" style="margin-left: 99%; margin-top: -40px;">
              <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li>
              <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li>
              <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li>
              <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li>
              <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li>
            </ul>
          </div>
          <div class="btn-group no-gutters">
            <div class="menu-item btn-block text-left small" data-toggle="dropdown"><i class="fa grade fa-th" aria-hidden="true"></i> Grade 01</div>
            <ul class="dropdown-menu small" style="margin-left: 99%; margin-top: -40px;">
              <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li>
              <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li>
              <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li>
              <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li>
              <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li>
            </ul>
          </div>
          <div class="btn-group no-gutters">
            <div class="menu-item btn-block text-left small" data-toggle="dropdown"><i class="fa grade fa-th" aria-hidden="true"></i> Grade 01</div>
            <ul class="dropdown-menu small" style="margin-left: 99%; margin-top: -40px;">
              <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li>
              <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li>
              <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li>
              <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li>
              <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright small"> Powered by <br>
    LINGAO Intelligent Technology <br>
    &copy; 2019 </div>
</div>
