<div class="logo"><img class="logo rounded-circle clearfix" src="images/logo.jpg" alt=""></div>
<h3 class="text-center clearfix">北京大学</h3>
<p class="text-center font-weight-light" style="margin-bottom: 0;">BEIJING UNIVERSITY</p>
<p class="text-center font-weight-light">智慧教室综合管理系统</p>
<div class="component font-12" id="menu-left">
    <!-- single drop menu -->
    <!--<div class="left-menu-head jfont14 active">
      <i class="fa fa-bank mr-1"></i>校区-A
    </div>-->
    <div class="left-menu-dropbox" id="leftmenudata">
       
    </div>

    <!-- single drop menu -->
    <!--<div class="left-menu-head jfont14">
        <i class="fa fa-bank mr-1"></i>校区-B
    </div>-->
    <!--<div class="left-menu-dropbox" style="display:none;">
        <div class="left-menu-container">
            <div class="left-menu-building">
                <i class="fa L-CTRL-01 fa-minus-square mr-1"></i>
                <label>
                    <input type="checkbox" name="yuyue">
                    <i class="fa fa-check jcheckbox mr-1"></i>第一教学楼
                </label>
            </div>
            <div class="left-menu-building-dropbox">
                <div class="left-menu-level">
                    <i class="fa fa-plus-square mr-1 L-CTRL-02"></i>
                    <label>
                        <input type="checkbox" name="yuyue">
                        <i class="fa fa-check jcheckbox mr-1"></i>
                        <b>1楼</b>
                    </label>
                </div>
                <div class="left-menu-room" style="display:none;">
                    <label class="j-room">
                        <input type="checkbox" name="yuyue">
                        <i class="fa fa-check jcheckbox mr-1"></i>101
                    </label>
                    <label class="j-room">
                        <input type="checkbox" name="yuyue">
                        <i class="fa fa-check jcheckbox mr-1"></i>102
                    </label>
                    <label class="j-room">
                        <input type="checkbox" name="yuyue">
                        <i class="fa fa-check jcheckbox mr-1"></i>103
                    </label>
                    <label class="j-room">
                        <input type="checkbox" name="yuyue">
                        <i class="fa fa-check jcheckbox mr-1"></i>104
                    </label>
                    <label class="j-room">
                        <input type="checkbox" name="yuyue">
                        <i class="fa fa-check jcheckbox mr-1"></i>105
                    </label>
                    <label class="j-room">
                        <input type="checkbox" name="yuyue">
                        <i class="fa fa-check jcheckbox mr-1"></i>101
                    </label>
                    <label class="j-room">
                        <input type="checkbox" name="yuyue">
                        <i class="fa fa-check jcheckbox mr-1"></i>102
                    </label>
                    <label class="j-room">
                        <input type="checkbox" name="yuyue">
                        <i class="fa fa-check jcheckbox mr-1"></i>103
                    </label>
                    <label class="j-room">
                        <input type="checkbox" name="yuyue">
                        <i class="fa fa-check jcheckbox mr-1"></i>104
                    </label>
                    <label class="j-room">
                        <input type="checkbox" name="yuyue">
                        <i class="fa fa-check jcheckbox mr-1"></i>105
                    </label>
                </div>

                <div class="left-menu-level">
                    <i class="fa fa-plus-square mr-1 L-CTRL-02"></i>
                    <label>
                        <input type="checkbox" name="yuyue">
                        <i class="fa fa-check jcheckbox mr-1"></i>
                        <b>2楼</b>
                    </label>
                </div>
                <div class="left-menu-room" style="display:none;">
                    <label class="j-room">
                        <input type="checkbox" name="yuyue">
                        <i class="fa fa-check jcheckbox mr-1"></i>101
                    </label>
                    <label class="j-room">
                        <input type="checkbox" name="yuyue">
                        <i class="fa fa-check jcheckbox mr-1"></i>102
                    </label>
                    <label class="j-room">
                        <input type="checkbox" name="yuyue">
                        <i class="fa fa-check jcheckbox mr-1"></i>103
                    </label>
                    <label class="j-room">
                        <input type="checkbox" name="yuyue">
                        <i class="fa fa-check jcheckbox mr-1"></i>104
                    </label>
                    <label class="j-room">
                        <input type="checkbox" name="yuyue">
                        <i class="fa fa-check jcheckbox mr-1"></i>105
                    </label>
                    <label class="j-room">
                        <input type="checkbox" name="yuyue">
                        <i class="fa fa-check jcheckbox mr-1"></i>101
                    </label>
                    <label class="j-room">
                        <input type="checkbox" name="yuyue">
                        <i class="fa fa-check jcheckbox mr-1"></i>102
                    </label>
                    <label class="j-room">
                        <input type="checkbox" name="yuyue">
                        <i class="fa fa-check jcheckbox mr-1"></i>103
                    </label>
                    <label class="j-room">
                        <input type="checkbox" name="yuyue">
                        <i class="fa fa-check jcheckbox mr-1"></i>104
                    </label>
                    <label class="j-room">
                        <input type="checkbox" name="yuyue">
                        <i class="fa fa-check jcheckbox mr-1"></i>105
                    </label>
                </div>
            </div>
        </div>

        <div class="left-menu-container">
            <div class="left-menu-building">
                <i class="fa L-CTRL-01 fa-plus-square mr-1"></i>
                <label>
                    <input type="checkbox" name="yuyue">
                    <i class="fa fa-check jcheckbox mr-1"></i>第二教学楼
                </label>
            </div>
            <div class="left-menu-building-dropbox" style="display:none;">
                <div class="left-menu-level">
                    <i class="fa fa-plus-square mr-1 L-CTRL-02"></i>
                    <label>
                        <input type="checkbox" name="yuyue">
                        <i class="fa fa-check jcheckbox mr-1"></i>
                        <b>1楼</b>
                    </label>
                </div>
                <div class="left-menu-room" style="display:none;">
                    <label class="j-room">
                        <input type="checkbox" name="yuyue">
                        <i class="fa fa-check jcheckbox mr-1"></i>101
                    </label>
                    <label class="j-room">
                        <input type="checkbox" name="yuyue">
                        <i class="fa fa-check jcheckbox mr-1"></i>102
                    </label>
                    <label class="j-room">
                        <input type="checkbox" name="yuyue">
                        <i class="fa fa-check jcheckbox mr-1"></i>103
                    </label>
                    <label class="j-room">
                        <input type="checkbox" name="yuyue">
                        <i class="fa fa-check jcheckbox mr-1"></i>104
                    </label>
                    <label class="j-room">
                        <input type="checkbox" name="yuyue">
                        <i class="fa fa-check jcheckbox mr-1"></i>105
                    </label>
                    <label class="j-room">
                        <input type="checkbox" name="yuyue">
                        <i class="fa fa-check jcheckbox mr-1"></i>101
                    </label>
                    <label class="j-room">
                        <input type="checkbox" name="yuyue">
                        <i class="fa fa-check jcheckbox mr-1"></i>102
                    </label>
                    <label class="j-room">
                        <input type="checkbox" name="yuyue">
                        <i class="fa fa-check jcheckbox mr-1"></i>103
                    </label>
                    <label class="j-room">
                        <input type="checkbox" name="yuyue">
                        <i class="fa fa-check jcheckbox mr-1"></i>104
                    </label>
                    <label class="j-room">
                        <input type="checkbox" name="yuyue">
                        <i class="fa fa-check jcheckbox mr-1"></i>105
                    </label>
                </div>

                <div class="left-menu-level">
                    <i class="fa fa-plus-square mr-1 L-CTRL-02"></i>
                    <label>
                        <input type="checkbox" name="yuyue">
                        <i class="fa fa-check jcheckbox mr-1"></i>
                        <b>2楼</b>
                    </label>
                </div>
                <div class="left-menu-room" style="display:none;">
                    <label class="j-room">
                        <input type="checkbox" name="yuyue">
                        <i class="fa fa-check jcheckbox mr-1"></i>101
                    </label>
                    <label class="j-room">
                        <input type="checkbox" name="yuyue">
                        <i class="fa fa-check jcheckbox mr-1"></i>102
                    </label>
                    <label class="j-room">
                        <input type="checkbox" name="yuyue">
                        <i class="fa fa-check jcheckbox mr-1"></i>103
                    </label>
                    <label class="j-room">
                        <input type="checkbox" name="yuyue">
                        <i class="fa fa-check jcheckbox mr-1"></i>104
                    </label>
                    <label class="j-room">
                        <input type="checkbox" name="yuyue">
                        <i class="fa fa-check jcheckbox mr-1"></i>105
                    </label>
                    <label class="j-room">
                        <input type="checkbox" name="yuyue">
                        <i class="fa fa-check jcheckbox mr-1"></i>101
                    </label>
                    <label class="j-room">
                        <input type="checkbox" name="yuyue">
                        <i class="fa fa-check jcheckbox mr-1"></i>102
                    </label>
                    <label class="j-room">
                        <input type="checkbox" name="yuyue">
                        <i class="fa fa-check jcheckbox mr-1"></i>103
                    </label>
                    <label class="j-room">
                        <input type="checkbox" name="yuyue">
                        <i class="fa fa-check jcheckbox mr-1"></i>104
                    </label>
                    <label class="j-room">
                        <input type="checkbox" name="yuyue">
                        <i class="fa fa-check jcheckbox mr-1"></i>105
                    </label>
                </div>
            </div>
        </div>
    </div>-->

    <!-- <div class="card"> <div class="card-header" data-toggle="collapse" data-target="#iips"><i class="fa fa-folder-open" aria-hidden="true"></i> IIPS</div> <div class="collapse no-gutters show" id="iips" data-parent="#menu-left"> <div
    class="card-body no-gutter"> <div class="btn-group-vertical col-12 no-gutter"> <div class="btn-group no-gutters"> <div class="menu-item btn-block text-left small" data-toggle="dropdown"><i class="fa grade fa-th" aria-hidden="true"></i> Grade 01</div>
    <ul class="dropdown-menu small" style="margin-left:99%; margin-top: -40px;"> <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li> <li><a href="" class="dropdown-item"><i class="fa
    fa-angle-double-right" aria-hidden="true"></i> test</a></li> <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li> <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right"
    aria-hidden="true"></i> test</a></li> <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li> </ul> </div> <div class="btn-group no-gutters"> <div class="menu-item btn-block text-left small"
    data-toggle="dropdown"><i class="fa grade fa-th" aria-hidden="true"></i> Grade 01</div> <ul class="dropdown-menu small" style="margin-left: 99%; margin-top: -40px;"> <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right"
    aria-hidden="true"></i> test</a></li> <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li> <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i>
    test</a></li> <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li> <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li> </ul> </div>
    <div class="btn-group no-gutters"> <div class="menu-item btn-block text-left small" data-toggle="dropdown"><i class="fa grade fa-th" aria-hidden="true"></i> Grade 01</div> <ul class="dropdown-menu small" style="margin-left: 99%; margin-top: -40px;">
    <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li> <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li> <li><a href=""
    class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li> <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li> <li><a href="" class="dropdown-item"><i
    class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li> </ul> </div> <div class="btn-group no-gutters"> <div class="menu-item btn-block text-left small" data-toggle="dropdown"><i class="fa grade fa-th" aria-hidden="true"></i> Grade
    01</div> <ul class="dropdown-menu small" style="margin-left: 99%; margin-top: -40px;"> <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li> <li><a href="" class="dropdown-item"><i class="fa
    fa-angle-double-right" aria-hidden="true"></i> test</a></li> <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li> <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right"
    aria-hidden="true"></i> test</a></li> <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li> </ul> </div> </div> </div> </div> </div> -->
    <!-- <div class="card"> <div class="card-header" data-toggle="collapse" data-target="#iit"><i class="fa fa-folder-open" aria-hidden="true"></i> IIT</div> <div class="collapse no-gutters" id="iit" data-parent="#menu-left"> <div class="card-body
    no-gutter"> <div class="btn-group-vertical col-12 no-gutter"> <div class="btn-group no-gutters"> <div class="menu-item btn-block text-left small" data-toggle="dropdown"><i class="fa grade fa-th" aria-hidden="true"></i> Grade 01</div> <ul
    class="dropdown-menu small" style="margin-left:99%; margin-top: -40px;"> <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li> <li><a href="" class="dropdown-item"><i class="fa
    fa-angle-double-right" aria-hidden="true"></i> test</a></li> <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li> <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right"
    aria-hidden="true"></i> test</a></li> <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li> </ul> </div> <div class="btn-group no-gutters"> <div class="menu-item btn-block text-left small"
    data-toggle="dropdown"><i class="fa grade fa-th" aria-hidden="true"></i> Grade 01</div> <ul class="dropdown-menu small" style="margin-left: 99%; margin-top: -40px;"> <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right"
    aria-hidden="true"></i> test</a></li> <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li> <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i>
    test</a></li> <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li> <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li> </ul> </div>
    <div class="btn-group no-gutters"> <div class="menu-item btn-block text-left small" data-toggle="dropdown"><i class="fa grade fa-th" aria-hidden="true"></i> Grade 01</div> <ul class="dropdown-menu small" style="margin-left: 99%; margin-top: -40px;">
    <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li> <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li> <li><a href=""
    class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li> <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li> <li><a href="" class="dropdown-item"><i
    class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li> </ul> </div> <div class="btn-group no-gutters"> <div class="menu-item btn-block text-left small" data-toggle="dropdown"><i class="fa grade fa-th" aria-hidden="true"></i> Grade
    01</div> <ul class="dropdown-menu small" style="margin-left: 99%; margin-top: -40px;"> <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li> <li><a href="" class="dropdown-item"><i class="fa
    fa-angle-double-right" aria-hidden="true"></i> test</a></li> <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li> <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right"
    aria-hidden="true"></i> test</a></li> <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li> </ul> </div> </div> </div> </div> </div> <div class="card"> <div class="card-header"
    data-toggle="collapse" data-target="#scs"><i class="fa fa-folder-open" aria-hidden="true"></i> SCS</div> <div class="collapse no-gutters" id="scs" data-parent="#menu-left"> <div class="card-body no-gutter"> <div class="btn-group-vertical col-12
    no-gutter"> <div class="btn-group no-gutters"> <div class="menu-item btn-block text-left small" data-toggle="dropdown"><i class="fa grade fa-th" aria-hidden="true"></i> Grade 01</div> <ul class="dropdown-menu small" style="margin-left:99%;
    margin-top: -40px;"> <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li> <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li> <li><a
    href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li> <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li> <li><a href=""
    class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li> </ul> </div> <div class="btn-group no-gutters"> <div class="menu-item btn-block text-left small" data-toggle="dropdown"><i class="fa grade fa-th"
    aria-hidden="true"></i> Grade 01</div> <ul class="dropdown-menu small" style="margin-left: 99%; margin-top: -40px;"> <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li> <li><a href=""
    class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li> <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li> <li><a href="" class="dropdown-item"><i
    class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li> <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li> </ul> </div> <div class="btn-group no-gutters"> <div
    class="menu-item btn-block text-left small" data-toggle="dropdown"><i class="fa grade fa-th" aria-hidden="true"></i> Grade 01</div> <ul class="dropdown-menu small" style="margin-left: 99%; margin-top: -40px;"> <li><a href="" class="dropdown-item"><i
    class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li> <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li> <li><a href="" class="dropdown-item"><i class="fa
    fa-angle-double-right" aria-hidden="true"></i> test</a></li> <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li> <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right"
    aria-hidden="true"></i> test</a></li> </ul> </div> <div class="btn-group no-gutters"> <div class="menu-item btn-block text-left small" data-toggle="dropdown"><i class="fa grade fa-th" aria-hidden="true"></i> Grade 01</div> <ul class="dropdown-menu
    small" style="margin-left: 99%; margin-top: -40px;"> <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li> <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right"
    aria-hidden="true"></i> test</a></li> <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li> <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i>
    test</a></li> <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li> </ul> </div> </div> </div> </div> </div> <div class="card"> <div class="card-header" data-toggle="collapse"
    data-target="#soc"><i class="fa fa-folder-open" aria-hidden="true"></i> SOC</div> <div class="collapse no-gutters" id="soc" data-parent="#menu-left"> <div class="card-body no-gutter"> <div class="btn-group-vertical col-12 no-gutter"> <div
    class="btn-group no-gutters"> <div class="menu-item btn-block text-left small" data-toggle="dropdown"><i class="fa grade fa-th" aria-hidden="true"></i> Grade 01</div> <ul class="dropdown-menu small" style="margin-left:99%; margin-top: -40px;"> <li><a
    href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li> <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li> <li><a href=""
    class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li> <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li> <li><a href="" class="dropdown-item"><i
    class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li> </ul> </div> <div class="btn-group no-gutters"> <div class="menu-item btn-block text-left small" data-toggle="dropdown"><i class="fa grade fa-th" aria-hidden="true"></i> Grade
    01</div> <ul class="dropdown-menu small" style="margin-left: 99%; margin-top: -40px;"> <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li> <li><a href="" class="dropdown-item"><i class="fa
    fa-angle-double-right" aria-hidden="true"></i> test</a></li> <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li> <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right"
    aria-hidden="true"></i> test</a></li> <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li> </ul> </div> <div class="btn-group no-gutters"> <div class="menu-item btn-block text-left small"
    data-toggle="dropdown"><i class="fa grade fa-th" aria-hidden="true"></i> Grade 01</div> <ul class="dropdown-menu small" style="margin-left: 99%; margin-top: -40px;"> <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right"
    aria-hidden="true"></i> test</a></li> <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li> <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i>
    test</a></li> <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li> <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li> </ul> </div>
    <div class="btn-group no-gutters"> <div class="menu-item btn-block text-left small" data-toggle="dropdown"><i class="fa grade fa-th" aria-hidden="true"></i> Grade 01</div> <ul class="dropdown-menu small" style="margin-left: 99%; margin-top: -40px;">
    <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li> <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li> <li><a href=""
    class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li> <li><a href="" class="dropdown-item"><i class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li> <li><a href="" class="dropdown-item"><i
    class="fa fa-angle-double-right" aria-hidden="true"></i> test</a></li> </ul> </div> </div> </div> </div> </div> -->
    <div class="copyright small">
        Powered by
        <br>
        LINGAO Intelligent Technology
        <br>
        &copy; 2019
    </div>
</div>
<script src="../../Scripts/LeftMenu.js"></script>