/* Move down content because we have a fixed navbar that is 50px tall */

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */


/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}

/*插件*/
.plugin {
    width: 1000px;
    height: 700px;
}

fieldset {
    display: block;
}

.ipchannel {
    width: 480px;
    padding: 10px;
    border: 1px solid #7F9DB9;
}

    .ipchannel .btn {
        width: 130px;
        height: 22px;
        line-height: 18px;
    }

    .ipchannel .digitaltdiv {
        height: 100px;
        overflow: hidden;
        overflow-y: auto;
        border: 1px solid #7F9DB9;
        font-size: 11px;
    }

    .ipchannel .digitalchannellist th, .ipchannel .digitalchannellist td {
        padding: 2px;
        border: 1px solid #7F9DB9;
        border-collapse: collapse;
        white-space: nowrap;
    }
/*预览*/
.preview {
    padding: 10px;
    padding-top: 10;
    margin-left: 10px;
    border: 1px solid #7F9DB9;
}

.logincam {
    border: 1px solid #7F9DB9;
    padding: 10px;
    padding-top: 10;
    margin-left: 10px;
}




/*视频参数*/
.videoparam {
    width: 450px;
    padding: 10px;
    margin-left: 10px;
    border: 1px solid #7F9DB9;
}

    .videoparam .tt {
        width: 60px;
    }

    .videoparam .txt {
        width: 60px;
    }

    .videoparam .btn {
        width: 45px;
        height: 22px;
        line-height: 18px;
    }

    .videoparam .sel {
        width: 65px;
    }
/*回放*/
.playback {
    width: 450px;
    padding: 10px;
    margin-left: 10px;
    border: 1px solid #7F9DB9;
}

    .playback .tt {
        width: 60px;
    }

    .playback .txt {
        width: 140px;
    }

    .playback .btn {
        width: 45px;
        height: 22px;
        line-height: 18px;
    }

    .playback .btn2 {
        width: 70px;
        height: 22px;
        line-height: 18px;
    }

    .playback .sel {
        width: 65px;
    }

    .playback .searchdiv {
        height: 100px;
        overflow: hidden;
        overflow-y: auto;
        border: 1px solid #7F9DB9;
        font-size: 11px;
    }

    .playback .searchlist th, .playback .searchlist td {
        padding: 2px;
        border: 1px solid #7F9DB9;
        border-collapse: collapse;
        white-space: nowrap;
    }


.w3-modal {
    z-index: 3;
    display: none;
    padding-top: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4)
}

.w3-modal-content {
    margin: auto;
    background-color: #fff;
    position: relative;
    padding: 0;
    outline: 0;
    width: 600px
}

.w3-card-4, .w3-hover-shadow:hover {
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)
}

.w3-teal, .w3-hover-teal:hover {
    color: #fff !important;
    background-color: #009688 !important
}

.w3-display-topright {
    position: absolute;
    right: 0;
    top: 0
}

.w3-button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap
}

.w3-button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.w3-container, .w3-panel {
    padding: 0.01em 16px
}

.w3-panel {
    margin-top: 16px;
    margin-bottom: 16px
}
